.app {
  text-align: center;
}

.appLogo {
  animation: appLogoSpin infinite 20s linear;
}

.appHeader {
  background-color: #222;
  padding: 20px;
  color: white;
}

.appIntro {
  font-size: large;
}

@keyframes appLogoSpin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
